#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    /* height: 440px; */
    /* width: 440px; */

    background: url(clock.png) no-repeat;
    background-size: 100%;

}
#hour, #minute, #second{

    position: absolute;
    background-color: green;
    border-radius: 10px;
    transform-origin: bottom;

}
#hour{
    width: 1.9%;
    height: 25%;
    top: 25%;
    left: 48.90%;
    opacity: 0.8;
    
}
    


#minute{
    width: 1.5%;
    height: 30%;
    top: 20%;
    left: 49.1%;
    opacity: 0.8;
   
}

#second{
    width: 1%;
    height: 36%;
    top: 14%;
    left: 49.4%;
    opacity: 0.8;
    
    

    
}
